.title{
    color:dodgerblue;
}
.counter{
    border:solid 1px dodgerblue;
    padding:10px;
    border-radius: 10px;
    color:dodgerblue;
    text-align: center;
    width:100px;
    display: inline-block;
}
